
@{
    ViewBag.Title = "Index";
}

<hr />
<div class="col-md-12">
    <input type="text" class="form-control col-md-6" id="search" />
</div>
@section scripts{
    <script src="~/Scripts/app/search.js"></script>
}


@*<script>
    $(document).ready(function () {
        var items = [
            "Pencil",
            "Pen",
            "Ruler",
            "Computer",
            "Cutter",
            "Cleaner",
            "Mouse",
            "Keyboard",
            "Book"
        ];

        var option = {
            source: items
        };

        $('#search').typeahead(option);
    });
</script>*@